.commentForm{
    display: flex;
    flex-direction: row;
    margin-right: 330px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.commentFormSubmit{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: #f50;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.comment-input{
    font-size: 20px;
   margin-top: 10px;
   border: 1px solid black;
   text-indent: 7px;
   width: 60%;

   height: 36px;
}

.commentProfilePhoto{
    	margin-top: 10px;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(135deg,#846170,#70929c);

	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 760px) {
.commentForm{
    margin-right: 0px;
}
}