.HeaderBarHome{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  z-index: 4;
  
}
.logocontainerHome{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  cursor: pointer;
}


.HeaderBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #333;
  
}

.-HeadyVis{
color: white;
font-size: 35px;
padding-right: 5px;
}

.-HeadyInvis{
  color: white;
font-size: 35px;
padding-right: 5px;
}

.logocontainer{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f50;
  background-image: linear-gradient( rgb(245, 125, 66), #f50);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  cursor: pointer;
}

.logocontainer p{
  margin:0;
  height: 20px;
}

.logocontainer p:hover{
  color: gray;
}

.upload-mobile{
  display: none;
}

.fa-sign-out-alt{
  display: none;
}

.fa-laptop-code{
  display: none;
}

 .devTop{
  text-align: center;
  color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    border: 1px white solid;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 50px;
  }
  

  .devLinks{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 36px;
    z-index: 997;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .devDiv:hover .devLinks{
    display: flex;
  }

  .devLink{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px;
  }

@media (max-width: 760px) {
  .HeaderBarHome{
    position: relative;
    background-color: #333;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;

  }

  .HeaderBar{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  

  .logocontainerHome p {
    display: none;
  }

  .logocontainer p{
    display: none;
  }

  .upload-a-button{
    display: none;
  }

  .upload-mobile{
    display: flex;
    font-size: 20px;
    margin-right: 15px;
    color: white;
  }

  .logoutText{
  display: none;
}

  .fa-sign-out-alt{
    display: flex;
  }
  
  .logout-button{
    width: 35px;
  }
  .devText{
    display: none;
  }

  .fa-laptop-code{
    display: flex;
  }

  .devTop{
    width: 15px;
  }
}


