.songDiv {
  height: 180px; 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.songInfoDiv{
  height: 160px; 
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.songNameDiv{
  margin-left: 20px;
}

.songDiv:first-of-type{
  padding-top: 20px;
}
.songArt{
  height: 160px;
  width: 160px;
  background-image: linear-gradient(135deg,#555555,#70929c);
  background-repeat: no-repeat;
	background-size: cover;
  position: relative;
  background-position: center;
}


.songInfoDivOrg{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.removeSongProfile{
  margin-right: 10px;
   height: 35px;
   border-radius: 5px;
   background-color: #f50;
   color: white;
   font-size: 16px;
   cursor: pointer;
}
.songNamePlayDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.Playindex{
  font-size: 26px;
}
.pauseIndex{
  font-size: 42px;
}

.songArtist{
  font-size: 12px;
  color: #999;
}

.songArtist:hover{
  color: black;
}

.songTitleLink{
  text-decoration: none;
  color: #333;
}

.playPauseIndex{
  width: 46px;
}

.songIndexMain{
  padding: 0 30px;
}