.uploadFormDiv{
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 50px;
  background-color: white;
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cssload-square {
	width: 15px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgb(115,179,255);
	animation: cssload-grow 3.45s infinite cubic-bezier(0.53, 0.68, 0.53, 0.41);
		-o-animation: cssload-grow 3.45s infinite cubic-bezier(0.53, 0.68, 0.53, 0.41);
		-ms-animation: cssload-grow 3.45s infinite cubic-bezier(0.53, 0.68, 0.53, 0.41);
		-webkit-animation: cssload-grow 3.45s infinite cubic-bezier(0.53, 0.68, 0.53, 0.41);
		-moz-animation: cssload-grow 3.45s infinite cubic-bezier(0.53, 0.68, 0.53, 0.41);
}

.cssload-square:nth-of-type(2) {
	margin-top: 12px;
	animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-moz-animation-delay: 0.12s;
}

.cssload-square:nth-of-type(3) {
	margin-top: 23px;
	animation-delay: 0.23s;
		-o-animation-delay: 0.23s;
		-ms-animation-delay: 0.23s;
		-webkit-animation-delay: 0.23s;
		-moz-animation-delay: 0.23s;
}

.cssload-square:nth-of-type(4) {
	margin-top: 35px;
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}

.cssload-square:nth-of-type(5) {
	margin-top: 47px;
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
}



.cssload-wrapper {
	width: 49px;
	height: 96px;
	position: absolute;
	left: 50%;
	margin-top: -97px;
	margin-left: -24px;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
	animation: 2.3s cssload-global infinite;
		-o-animation: 2.3s cssload-global infinite;
		-ms-animation: 2.3s cssload-global infinite;
		-webkit-animation: 2.3s cssload-global infinite;
		-moz-animation: 2.3s cssload-global infinite;
}



@keyframes cssload-grow {
	0%, 100% {
		transform: translateX(-24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	25% {
		transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
	50% {
		transform: translateX(24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	75% {
		transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
}

@-o-keyframes cssload-grow {
	0%, 100% {
		-o-transform: translateX(-24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	25% {
		-o-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
	50% {
		-o-transform: translateX(24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	75% {
		-o-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
}

@-ms-keyframes cssload-grow {
	0%, 100% {
		-ms-transform: translateX(-24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	25% {
		-ms-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
	50% {
		-ms-transform: translateX(24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	75% {
		-ms-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
}

@-webkit-keyframes cssload-grow {
	0%, 100% {
		-webkit-transform: translateX(-24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	25% {
		-webkit-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
	50% {
		-webkit-transform: translateX(24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	75% {
		-webkit-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
}

@-moz-keyframes cssload-grow {
	0%, 100% {
		-moz-transform: translateX(-24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	25% {
		-moz-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
	50% {
		-moz-transform: translateX(24px) scaleX(0.5);
		background: rgb(115,179,255);
	}
	75% {
		-moz-transform: translateX(0px) scaleY(1) scaleX(5) rotateY(180deg);
		background: rgb(240,192,120);
	}
}

@keyframes cssload-global {
	0%,100% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(360deg);
	}
}

@-o-keyframes cssload-global {
	0%,100% {
		-o-transform: rotateY(0deg);
	}
	50% {
		-o-transform: rotateY(360deg);
	}
}

@-ms-keyframes cssload-global {
	0%,100% {
		-ms-transform: rotateY(0deg);
	}
	50% {
		-ms-transform: rotateY(360deg);
	}
}

@-webkit-keyframes cssload-global {
	0%,100% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
	}
}

@-moz-keyframes cssload-global {
	0%,100% {
		-moz-transform: rotateY(0deg);
	}
	50% {
		-moz-transform: rotateY(360deg);
	}
}

.loadingDiv{
  position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
}

.loadingDivChild{
  position: absolute;
	 left: 50%;
	 top: 50%;
   transform: translate(-50%, 30%);
}

.songArtfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	
}

.songArtfile + label {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: none;
		display: inline-block;
		position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 20px;
		cursor: pointer;
		text-align: center;
}

.songArtfile:focus + label,
.songArtfile + label:hover {
		background-color: lightblue;
		color: #000;
}

.songArtfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.songArtUploadDiv{
 display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.previewSongArtDiv{

	height: 260px;
	width: 260px;
	background-image: linear-gradient(135deg,#846170,#70929c);

	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.songNameInput{
	font-size: 20px;
   margin-top: 10px;
   border: 1px solid black;
   border-radius: 5px;
   text-indent: 7px;
   width: 400px;
	 height: 35px;
	 margin-left: 40px;
}


.song-submit {
    width: 402px;
    height: 35px;
    border-radius: 5px;
    background-color: #f50;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}
.songForm{
	display: flex;
    flex-direction: column;
		justify-content: space-around;
}

.submitDiv{
		width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.songMp3file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.songMp3file + label {
    font-size: 24px;
		color: white;
		width: 402px;
    height: 35px;
    border-radius: 5px;
    background-color: #f50;
		display: inline-block;
		text-align: center;
}

.songMp3file:focus + label,
.songMp3file + label:hover {
    background-color: red;
}


.songMp3file + label {
	cursor: pointer; /* "hand" cursor */
}

.songMp3file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.songInfoHeader{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.songFileDiv{
		width: 80%;
    padding-right: 10%;
    padding-left: 10%;
		padding-top: 20px;
		padding-bottom: 20px;
		border: 1px dashed lightgrey;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}