

.userbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userbtn {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}



.modal-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.356);

}

.sessionFormDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 200px;
  margin-left: 45%;
  margin-top: 5%;
}

.logoimg{
  height: 40px;
  padding-right: 5px;
}

.loginbtn{
  color: white;
  text-decoration: none;
  border: 1px white solid;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  background-color: transparent;
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.signupbtn{
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  background-color: #f50;
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.header-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


.logout-button {
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  background-color: #f50;
  cursor: pointer;
  max-width: 70px;
}

.upload-a-button{
   color: #ccc;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.upload-a-button:hover{
  color:white;
}

.headerPhoto{
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 5px;
}
.headerCurrentUser{
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
  margin-right: 20px;
}

 .header-name {
   color: #ccc;
 }

 .header-name:hover{
   color: white;
 }

 .-FormLogo{
   font-size: 50px;
  padding-right: 5px;
 }

 .login-signup{
   display: flex;
 }

 .devTop{
  text-align: center;
  color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    border: 1px white solid;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    min-width: 50px;
  }
  

  .devLinks{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 36px;
    z-index: 997;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .devDiv:hover .devLinks{
    display: flex;
  }

  .devLink{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px;
  }

  

  @media (max-width: 760px) {
    .header-name{
      display: none;
    }

    .headerCurrentUser{
      min-width: 25px;
      margin-right: 15px;
    }
  }